html,body{
    width: 100vw;
    border: none;
    margin: 0;
    padding: 0;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding: 1rem; */
}
td:focus-visible{
    background: rgb(246, 207, 149);
}
h1{
    font-family: 'Bungee Inline', cursive;
}
table{
    background-color: blanchedalmond;   
    /* width: 70%; */
    /* height: 70%; */
    margin: 1rem;
    align-self: center;
}
caption{
    font-family: 'Bungee Inline', cursive;
    font-size: 28px;
    font-weight: 900;
    /* padding-top: 3rem; */
    /* padding-bottom: 2rem; */
}
th{
    
    background-color: antiquewhite;
    border: 1px black solid;
}
.saturday{
    background-color: aliceblue;
}
.sunday{
    background-color: black;
    color: white;
}
td{
    border: 1px black solid;
    text-align: center;
    padding: 1rem;
}